@import './base.css';

#app {
  /*max-width: 1280px;*/
  margin: auto;
  background: darkorange;
  padding: 2rem;
  height: 100vh;
  width: 102vw;
  display: block;
  font-weight: normal;
  text-align: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: block;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
