<script setup>
import MainView from "@/views/MainView.vue";
</script>
<template >
  <div class="icon-header">WEBORIGO</div>
  <div class="mainpage">

<!--    Load the main view-->
    <MainView/>
  </div>
</template>

<style scoped>

.icon-header{
  display: block;
  font-size: 72px;
  color: white;
}
@media (min-width: 1280px) {
  .mainpage {
    text-align: center;
    background-color: white;
    height: 70%;
    width: 75%;
    margin: auto;
  }
}
@media (max-width: 380px) {
  .mainpage{
    border-radius: 20px;
  }
  .icon-header{
    font-size: 64px;
  }
}
@media (max-width: 1280px)  {
  .mainpage {
    text-align: center;
    background-color: white;
    height: 70%;
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }
}
#app{
  max-width: 100vw;
  padding: 0px;
}
</style>
