

<template>
  <div class="image-cont" >
    <img class="img"  :src="getImageUrl(selectedObject.image)" />
    <p>{{ selectedObject.englishName }}</p>

    <form @submit.prevent="submitForm" class="form">
      <input type="text" v-model="message" placeholder="" />
      <br />
      <input type="submit" value="Let's see"/>
    </form>

    <div class="icons">
      <span class="thumb-up">
        <img  src="../assets/images/thumb-up.png"> &nbsp;
        <span class="divided-number"> {{thumbUpVal}} / {{thumbTotalVal}} </span>
      </span>
      <span class="thumb-down">
        <span class="divided-number"> {{thumbDownVal}} / {{thumbTotalVal}} </span> &nbsp;
        <img src="../assets/images/thumb-down.png">

      </span>
    </div>
  </div>
</template>

<script>
import axios from "axios";
var url = "http://localhost:8000/api/scores";
export default {
  data() {
    return {
      imagesList: [
        {
          id: 1,
          image: "woman-1280.png",
          englishName: "happy",
          serbianName: "srecan"
        },
        {
          id: 2,
          image: "woman-1280.png",
          englishName: "nice",
          serbianName: "lijepo"
        },
        {
          id: 3,
          image: "woman-1280.png",
          englishName: "friend",
          serbianName: "prijaleju"
        },
        {
          id: 4,
          image: "woman-1280.png",
          englishName: "explosion",
          serbianName: "eksplozija"
        },
        {
          id: 5,
          image: "woman-1280.png",
          englishName: "carrot",
          serbianName: "šargarepa"
        },
        {
          id: 6,
          image: "woman-1280.png",
          englishName: "car",
          serbianName: "auto"
        },
        {
          id: 7,
          image: "woman-1280.png",
          englishName: "soldier",
          serbianName: "vojnik"
        },
        {
          id: 8,
          image: "woman-1280.png",
          englishName: "fear",
          serbianName: "strah"
        },
        {
          id: 9,
          image: "woman-1280.png",
          englishName: "relativity",
          serbianName: "relativnost"
        },
        {
          id: 10,
          image: "woman-1280.png",
          englishName: "book",
          serbianName: "knjiga"
        },
        {
          id: 11,
          image: "woman-1280.png",
          englishName: "earth",
          serbianName: "Zemlja"
        },
        {
          id: 12,
          image: "woman-1280.png",
          englishName: "speed limit",
          serbianName: "ograničenje brzine"
        },
      ],
      selectedObject: {},
      selectedIndex: 0,
      totalIndex:0,
      message: '',
      messageDisplay: "happy",
      thumbUpVal: 0,
      thumbDownVal: 0,
      thumbTotalVal: 0,
      receivedData: axios.get(url)
    }
  },
  methods: {
    getImageUrl(imageFileName) {
      // Assuming your images are located in the 'assets/images' directory
      return `/src/assets/images/${imageFileName}`;
    },
    async submitForm() {
      console.log(this.message);
      console.log(this.messageDisplay);
      if(this.selectedObject.serbianName == this.message) {
        this.thumbUpVal++;
        this.selectedIndex++;
        // index is done then start from the begining
        if(this.selectedIndex == this.totalIndex)
          this.selectedIndex = 0;
        this.selectedObject = this.imagesList[this.selectedIndex]
      }
      else
        this.thumbDownVal++;

      this.thumbTotalVal = this.thumbDownVal + this.thumbUpVal;

      await axios.post(url, {
        "english_name": this.selectedObject.englishName,
        "serbian_name": this.selectedObject.serbianName,
        "user_entered_name": this.message,
      });
      this.message = "";
    }
  },
  mounted() {
    this.selectedObject = this.imagesList[this.selectedIndex];
    // this index start from 0
    this.totalIndex = this.imagesList.length-1;
    console.log('total index--->',this.totalIndex)
    console.log(this.selectedObject)
    console.log(this.selectedObject.image)
  }
}

</script>

<style>
.divided-number{
  color: darkorange;
}
.icons > span{
  display: inline;
  width: 49%;
}
.icons span[class='thumb-up']{
  float: left;
}
.icons span[class='thumb-down']{
  float: right;
}
.icons span[class='thumb-up'] img{
  margin-left: 50%;
}
.icons span[class='thumb-down'] img{
  margin-right: 50%;
}
.icons img{
  height: 1.3em;
}

@media (min-width: 380px) {
  .image-cont > img {
    width: 30%; /* or any custom size */
    margin: 2% auto;
  }
}

.form input[type="text"] {
  width: 30%;
  padding: 9px;
  margin-top: 2%;
  border-radius: 8px;
  border: 0px;
  box-shadow: 1px 3px 31px -4px rgba(255, 140, 0, 0.54);
  -webkit-box-shadow: 1px 3px 31px -4px rgba(255, 140, 0, 0.54);
  -moz-box-shadow: 1px 3px 31px -4px rgba(255, 140, 0, 0.54);
}
.form input[type="submit"] {
  width: 20%;
  padding: 7px;
  border-radius: 8px;
  border: 0px;
  color: white;
  background: darkorange;
  margin-top: 1em;
}
.image-cont p {
  width: 30%; /* or any custom size */
  margin: 0% auto;
  font-weight: bold;
  font-size: large;
}
@media (max-width: 380px) {
  .form input[type="text"] {
    width: 80%;
  }

  .form input[type="submit"] {
    width: 80%;
  }

  .image-cont > img {
    width: 95%; /* or any custom size */
    margin: 2% auto;
    margin-top: 20%;
  }
  .icons span[class='thumb-up']{
    margin-top: -123%;
    margin-left: -20%;
  }
  .icons span[class='thumb-down']{
    margin-top: -123%;
    margin-right: -20%;
  }

}
</style>



